あなたの記録数: #{@albums_data[:total]}

= form_with url: pagenate_albums_path,method: :get,local: true do |f|
  = f.text_field :offset,placeholder: "オフセット"
  = f.text_field :limit,placeholder: "リミット"
  = f.submit '検索'

= form_with url: search_albums_path,method: :get,local: true do |f|
  =f.text_field :type,placeholder: "レシピタイプ"
  = f.submit '検索'

.album_boxs
- @albums.each do | album |
  .album_box
    = image_tag "#{album[:image_url]}"
    %p= album[:comment]
    %p= album[:recipe_type]
    %p= album[:recorded_at]
