あなたの記録数: #{@albums_data[:total]}

- if @albums.size > 50
  = link_to "51~100",pagenate_albums_path(offset: 51, limit: 100),method: :get  

= form_with url: search_type_albums_path,method: :get,local: true do |f|
  =f.select :type,[["主菜","main_dish"],["副菜","side_dish"],["スープ","soup"]],include_blank: "選択してください"
  = f.submit '検索'

= form_with url: search_word_albums_path,method: :get,local: true do |f|
  = f.text_field :word,placeholder: "検索したい文字を入力してください"
  = f.submit '検索'

.album_boxs
- @albums.each do | album |
  .album_box
    = image_tag "#{album[:image_url]}"
    %p= album[:comment]
    %p= album[:recipe_type]
    %p= album[:recorded_at]
